<ul>
  {{#with post}}
    <li>
      <p><span class="label">ID:</span> {{id}}</p>
      <p><span class="label">Quote:</span> {{body}}</p>
      <p><span class="label">Author:</span> {{author}}</p>
      <p><span class="label">Artist:</span> {{artist}}</p>


      <button data-id="{{id}}" class="delquote">Delete</button>

      <a href="/{{id}}">Update this quote</a>
    </li>
  {{/with}}
</ul>